<!DOCTYPE html>
<html>
<head>
  <title>Analytics</title>
  <link href="index.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


  <!-- <script src="./index.js"></script> -->
</head>
<body>
  <div class="app-window">
    <div class="sidebar">
        <h2>Voice Alert</h2>
        <ul>
            <li class="item"><a href="/"><i class="fas fa-phone"></i>    Ongoing Call</a></li>
            <li class="item"><a href="/callHistory"><i class="fas fa-address-card"></i>    Calls History</a></li>
            <li class="item selected"><a href="/analytics"><i class="fas fa-project-diagram"></i>    Analytics</a></li>  
        </ul> 

    </div>

    <div class="app-column wide">
      <h1>Voice Emotion Pie Chart</h1>
      <div id="chartContainer" style="width: 35%;">
        <canvas id="emotionChart" width="400" height="400"></canvas>
      </div>
      

  
    </div>
    <script>
      let chart;
      document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('emotionChart').getContext('2d');
        const labels = JSON.parse`<%-JSON.stringify(emotionsData.labels)%>`;
        const data = JSON.parse`<%-JSON.stringify(emotionsData.data)%>`;
        console.log('Raw Labels:', typeof(labels));
    console.log('Raw Data:', `<%-JSON.stringify(emotionsData.labels)%>`);
  
        if (Array.isArray(labels)) {
      chart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: labels,
          datasets: [{
            data: data,
            backgroundColor: [
              'rgba(255, 99, 132, 0.7)',
              'rgba(54, 162, 235, 0.7)',
              'rgba(255, 206, 86, 0.7)',
              'rgba(75, 192, 192, 0.7)',
              'rgba(153, 102, 255, 0.7)',
            ],
          }],
        },
      });

      console.log('Chart:', chart);
    } else {
      console.error('Error: Labels is not an array.');
    }
  });
      console.log('Chart:', chart);
    </script>
  </body>
  </html>