:root {
    --current-messages-font-size: 20px;
    --current-messages-inner-padding: 8px;
    --current-messages-outer-padding: 5px;
    --current-messages-margin: 5px;

    --current-message-bubble-height: calc(
        var(--current-messages-font-size) +
        (
            2 *
            var(--current-messages-inner-padding)
        ) +
        (
            2 *
            var(--current-messages-outer-padding)
        )
    );
    --current-messages-height: calc(
        (2 * var(--current-message-bubble-height)) +
        var(--current-messages-margin)
    );
}


.chat-history {
    position: absolute;
    overflow-y: hidden;
    left: 0; right: 0; top: 0; bottom: var(--current-messages-height);
    padding: 10px;
}
.current-messages {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: calc(100% - var(--current-messages-height));
}
.chat-message {
    border-radius: 10px;
    padding: 10px;
}
.chat-history .chat-message {
    width: 75%;
    margin-bottom: 20px;
    color: black;
}
.chat-history .chat-message{
    margin-left: calc(25% - 20px);
}

.chat-history .chat-message .transcript{
    font-weight: 700;
}

.chat-history .chat-message .date{
    font-weight: 500;
    display: inline-block;
    font-size: 15px;
}

.chat-history .chat-message .timestamp{
    font-weight: 500;
    padding-left: 10px;
    display: inline-block;
    font-size: 15px;
}

.current-messages {
    padding: var(--current-messages-outer-padding);
}
.current-messages .chat-message {
    white-space: nowrap;
    overflow-y: hidden;
    font-weight: 700;
    direction: rtl;
    margin-left: calc(25% - 20px);
    text-overflow: ellipsis;
    padding: var(--current-messages-inner-padding);
    color:black;
    font-size: var(--current-messages-font-size);
    min-height: 15px;
}

.chat-history .timestamp {
    font-size: 12px;
    margin-bottom: 5px;
}

.chat-history .chat-message{
    background-color: rgba(53, 49, 238, 0.2);;
}

.current-messages .chat-message {
    color: black;
   
}
