.call {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color:rgba(53, 49, 238, 0.2);
}

.call h6 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.call .call-time{
    font-size: 25px;
    /* margin-bottom: 10px; */
}

.call .call-date{
    font-size: 16px;
    margin-bottom: 10px;
}
